{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{{parent()}}
    
    {{ form_start(registrationForm) }}
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                        Registrate
                </div>
                
                    {{ form_row(registrationForm.correo) }}
                    {{ form_row(registrationForm.plainPassword, {
                         label: 'Password'
                        }) }} 
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button class="btn btn-lg btn-primary" type="submit" title="Ingresar" name="Ingresar">Registrate</button>

                
            </div>
            <div class="inferior">
                    <a href="#">Volver</a>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}

{% endblock %}
