{% extends 'base.html.twig' %}

{% block title %}Celda index{% endblock %}

{% block body %}
{{parent() }}
    <h1>Celda index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCelda</th>
                <th>Capacidad</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for celda in celdas %}
            <tr>
                <td>{{ celda.idCelda }}</td>
                <td>{{ celda.capacidad }}</td>
                <td>{{ celda.estado }}</td>
                <td>
                    <a href="{{ path('app_celda_show', {'idCelda': celda.idCelda}) }}">show</a>
                    <a href="{{ path('app_celda_edit', {'idCelda': celda.idCelda}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_celda_new') }}">Create new</a>
{% endblock %}
